@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root{
  --bg-sidebar: #363740;
  --clr-blue: #65A7DB;
  --clr-grey: #9FA2B4;
  --clr-light-grey: #A4A6B3;
  --clr-black: #252733;
  --clr-brown: #505050;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem; /* 56px */
  --fs-700: 2.5rem; /* 40px */
  --fs-600: 1.25rem; /* 20px */
  --fs-500: 1rem; /* 16px */
  --fs-400: 0.875rem; /* 14px */
  --fs-300: 0.75rem; /* 12px */
  --fs-200: 0.625rem; /* 10px */

  /* font family */
  --ff-regular : 'Mulish', sans-serif;
}

/* tablet size */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem; /* 80px */
    --fs-700: 3rem; /* 48px */ 
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.25rem; /* 20px */
    --fs-400: 1rem; /* 16px */
    --fs-300: 1rem;
  }
}

/* laptop size */
@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* set up utility class */
.bg-sidebar {
  background-color: var(--bg-sidebar);
}

.bg-blue{
  background-color: var(--clr-blue);
}

.text-blue{
  color:var(--clr-blue);
}

.bg-grey{
  background-color: var(--clr-grey);
}

.text-grey{
  color:var(--clr-grey);
}
.bg-light-grey{
  background-color: var(--clr-light-grey);
}

.text-light-grey{
  color:var(--clr-light-grey);
}

.bg-black{
  background-color: var(--clr-black);
}

.text-black{
  color:var(--clr-black);
}

.ff-regular{
  font-family: var(--ff-regular);
}

.fs-900{
  font-size: var(--fs-900);
}
.fs-800{
  font-size: var(--fs-800);
}
.fs-700{
  font-size: var(--fs-700);
}
.fs-600{
  font-size: var(--fs-600);
}
.fs-500{
  font-size: var(--fs-500);
}
.fs-300{
  font-size: var(--fs-300);
}
.fs-200{
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* set up body */
body {
  font-family: var(--ff-regular);
  font-size: var(--fs-400);
  color: hsl(var(--clr-black));
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

#main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  transition: all .5s ease;
}
#main.menuOpen{
  grid-template-columns: 150px 1fr;
}

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.content{
  width:85%;
  padding:1rem;
}

#main.menuOpen .content{
  width: 65%;
}

.content-body{
  margin-top:1rem;
}

.desktopOnly{
  display: none;
}

.view-btn {
  background: var(--clr-blue);
  border-radius: 100px;
  padding: 13px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

/* tablet size */
@media (min-width: 35em) {
  .content{
    padding:30px;
    width:calc(100% - 300px);
  }
  .content-body {
    margin-top: 3rem;
  }
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
}

/* laptop size */
@media (min-width: 45em) {}